header 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0 16px;
  background-color: #121213;
  color: white;
  border-bottom: 1px solid #3a3a3c;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // height: var(--header-height);
  // color: var(--color-tone-1);
  // border-bottom: 1px solid var(--color-tone-4);
  .menuLeft
   {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 70px;
    justify-content: flex-start;
   }

  button
  {
    padding: .5rem ; //sets a space between the buttons of a distance rem (16 pixels by default)
  }
}