.imgsContainer
{
  display: flex;
  flex-wrap: wrap;
  //width: 350px;
  flex-direction: row;
  height: 40vh;
  //background-color: white;
  padding: 1rem;
  cursor: pointer;
    .img {
      &.oneImg {
        width: 100%;
      }
      background-position: center;
      background-size: cover;
      width: 50%;
    }
}