@import '../../variables.scss';

:host {
  display: inline-block;
}

.tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  user-select: none;

  &::before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
  }

  &.empty {
    border: 2px solid $empty;
  }

  &.absent {
    background-color: $absent;
  }

  &.present {
    background-color: $present;
  }

  &.correct {
    background-color: $correct;
  }

}

