@import "./variables.scss";

.App {
  text-align: center;
  background-color: $bg-color;
  color: $font-color;
  height: 100vh;
}

.game {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  height: calc(100% - #{$header-height});
  display: flex;
  flex-direction: column;
}

.board {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;

  .board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
  }
}

button
{
  all: unset;
  font-size: 24px;
  color: white
}
